{% extends 'base.html'%}
{% block body %}
<table style="width:100%">
    <tr>
        <td style="width:3%"></td>
<table>
   <tr>
      <td style="width:50%" > 
        <div id=Top_Statement>
            <h3 style="padding-left:100px; padding-right: 50px; font-size: 15px;">Rating 4.9 ★★★★★</h3>
            <h1 style="padding-left:100px; padding-right: 50px; font-size: 55px;">Street House Sports Transport - Your Kid, Their Boots, Our Problem!</h1>
            <a href="/Form"><img src="static/images/Form.png" style="width:120px; height:50px; padding-left:100px; padding-right: 50px"></a>
        </div>
      </td>
      <td style="width:50%"> <img src="static/images/House_Crest_Street.jpg" style="display: block; margin-left: auto; margin-right: auto; width:350px; height:400px"> </td>
   </tr>
</table>

<hr>

<table>
    <tr>
        <td style= "width:50%"> 
            <img src="static/images/Boarding_car.jpg" style="display: block; margin-left: auto; margin-right: auto; width:350px; height:350px">
        </td>
        <td style= "width:50%">
            <div>
                <h1>What we offer</h1>
                <hr>
                    <div id=Offer Table>
                        <table style="width:100%; border-collapse:collapse;">
                            <tr style="border-bottom: 1px solid black;">
                                <td style="padding-right: 20px; padding-bottom: 10px; padding-top: 10px"> Game Day Transport </td>
                                <td> 
                                    <p>Reliable and Timely</p>
                                    <p>Transport to ensure students arrive prepared and on time for every game</p>
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="padding-right: 20px; padding-bottom: 10px; padding-top: 10px"> Weather-proof Transport </td>
                                <td> 
                                    <p>Reliable in all conditions</p>
                                    <p>Guaranteed transport regardless of weather — rain or shine, your team gets there.</p>
                                </td>                            
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="padding-right: 20px; padding-bottom: 10px; padding-top: 10px"> Multi-Team Coordination </td>
                                <td> 
                                    <p>Organized and Efficient</p>
                                    <p>Simultaneous transport for multiple teams playing at different venues. No delays, no confusion.</p>
                                </td>
                            </tr>
                            <tr style="border-bottom: 1px solid black;">
                                <td style="padding-right: 20px; padding-bottom: 10px; padding-top: 10px"> Boarding Weekend League Runs </td>
                                <td> 
                                    <p>Sport Beyond School Walls</p>
                                    <p>Transport for students participating in club or academy leagues on weekends while boarding</p>
                                </td>                       
                            </tr>
                            <tr>
                                <td style="padding-right: 20px; padding-bottom: 10px; padding-top: 10px"> Teacher-On-Board Supervision </td>
                                <td> 
                                    <p>Guidance Beyond the Game</p>
                                    <p>Every trip includes a staff member to support, supervise, and keep students focused and safe</p>
                                </td>                           
                            </tr>
                        </table>
                    </div>
            </div>
        </td>
    </tr>
</table>

<hr>

<div id=Transport_Services>
<h1 style="text-align:center;  font-family:'Times New Roman', Times, serif; padding-left:10px; padding-right:10px;">
    <p style="font-size:40px"><b>Our Transport Services</b></p>
    <p style="font-size: 25px">Reliable Pick-up Times · Comfortable Rides · Spacious Seating · On-time Game Arrival · Consistent Driver Support · No Last Minute Changes</p>
</h1>
</div>

<hr>

<div id=News/Blogs>
<h1 style="font-size: 50px; padding-left:20px;">
    <b>News & Blogs</b>
</h1>
    <table>
        <tr>
            <td style="padding-bottom: 45px">
                <img src="static/images/binball.jpg" style="display: block; margin-left: 220px; margin-right: auto; width:350px; height:350px">
            </td>
            <td style="padding-bottom: 45px">
                <img src="static/images/swimming carnival.jpg" style="display: block; margin-left: 200px; margin-right: 50px; width:350px; height:350px">
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 45px">
                <img src="static/images/can assist.jpg" style="display: block; margin-left: 220px; margin-right: auto; width:350px; height:350px">
            </td>
            <td style="padding-bottom: 45px">
                <img src="static/images/athletics carnival.jpg" style="display: block; margin-left: 200px; margin-right: 50px; width:350px; height:350px">
            </td>
        </tr>
    </table>


</td>
<td style="width:3%"></td>
</tr>
</table>
{% endblock %}
