{% extends 'base.html'%}
{% block body %}

<!--Top Form Bar-->
<div id="Extended_Header">
  <h1>Meet Our Team</h1>
  <p><a href="/Home">Home</a> / Our Team</p>
</div>

<div class="row">
  <div class="column" >
    <h2><img src="static/images/blank profile picture.png" style="width:120px; height:130px;"></h2>
    <h2 style="font-size: 20px">Ms Pedersen</h2>
    <p>Write a Bio </p>
  </div>
  
  <div class="column">
    <h2><img src="static/images/blank profile picture.png" style="width:120px; height:130px;"></h2>
    <h2 style="font-size: 20px">Mr Banes</h2>
    <p>Write a Bio </p>
  </div>
  
  <div class="column">
    <h2><img src="static/images/blank profile picture.png" style="width:120px; height:130px;"></h2>
    <h2 style="font-size: 20px">Ms Boniface</h2>
    <p>Write a Bio </p>
  </div>

  <div class="column" >
    <h2><img src="static/images/blank profile picture.png" style="width:120px; height:130px;"></h2>
    <h2 style="font-size: 20px">Unc Uncles</h2>
    <p>Write a Bio </p>
  </div>
  
  <div class="column">
    <h1><img src="static/images/blank profile picture.png" style="width:120px; height:130px;"></h1>
    <h2 style="font-size: 20px">BTS</h2>
    <p>Write a Bio </p>
  </div>
  
  <div class="column">
    <h2><img src="static/images/blank profile picture.png" style="width:120px; height:130px;"></h2>
    <h2 style="font-size: 20px">Dr Clark</h2>
    <p>Write a Bio </p>
  </div>
</div>

{% endblock %}
